.stickyWrapper {
    position: relative;
    height: 200vh; 
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
  }
  
  .sticky {
    position: sticky;
    top: 25%; 
    text-align: center;
    z-index: 2; 
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../public/assets/imgs/stickybg.png);
    background-size: cover;
    background-position: center;
    z-index: 1; 
  }
  .success{
    font-size: 48px;
    font-weight: 400;
    line-height: 70px;
    margin-top: 25vh;
    color: #ffff;
  }
  .worldwide{
    font-size: 64px;
    color: #ffff;

  }
  .brMobile{
    display: none;
  }
  @media(max-width:768px){
    .success{
      font-size: 30px;
      font-weight: 400;
      line-height: 45px;
      width: 100%;
    }
    .brMobile{
      display: block;
    }
    .worldwide{
      font-size: 50px;
    }
    .background{
    background-image: url(../../public/assets/imgs/mobilestickybg.png);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    }
  }
  
  
  
  