.heroQuote{
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    color: #FFF;
}
.heroTwoColumns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:70px;
    max-width: 1440px;
}
@media (min-width: 1441px) {
    .heroTwoColumns {
        margin: 0px auto;
    }
  }

.partners {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 40px;
    margin-top: 47px;
}

.ariel{
    font-size: 30px;
    font-weight: 400;
    line-height: 37.5px;
    margin-top:30px;
}
.heroSubtitle{
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
}
.heroSubtitleStrong{
    font-weight: 500;
}
.heroRightColumn{
    display: flex;
    flex-direction: column;
    gap:35px ;
    text-align: left;
}
.left_colum_father{
    margin-top : 200px;
    
}
.heroText{
    max-width: 730px;
    width: auto;
}

.imageFather img {
    max-width: 600px;
    height: auto;
    max-height: 744px;
    margin-right: 19px;
}
.scrollContainer {
    margin-top: 110px;
    writing-mode: vertical-rl; 
    display: flex;

}

.scrollContainer p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
}

.line {
    margin: auto;
    width: 2px; 
    height: 101.178px;
    background: linear-gradient(900deg, #FFF 0%, #000 100%);
    margin-top: 5px;
}
.cto {
color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: bold;
line-height: 11.899px;
}
.appointment{
    display:none;
}
.scrollDiv{
    display:none;
}
@media(max-width:769px){
    .imageFather{
        display: none;
    }
    .scrollContainer{
        display: none;
    }
    .partners{
        display: none;
    }
    .left_colum_father{
        margin-left: auto;
        margin-right: auto;
        margin-top: 130px;
    }
    .heroTwoColumns{
        margin-left: 0px;

    }
    .heroParagraph{
        display: none;
    }
    .appointment{
        display: block;
        padding: 10px;
        border: solid 1px #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top:48px;
        max-width: 380px;
        max-height: 60px;
        width: 100%;
        height: 100%;
    }
    .scrollDiv{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-top:80px;
        margin-bottom:30px;
    }
    .heroQuote{
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        max-width: 350px;
        max-height: 240px;
        margin: 0px auto;
    }
    .scrollDivspan{
        margin-top: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1040px) {
    .imageFather{
        display: none;
    }
    .heroTwoColumns{
        justify-content: center;
        margin-left: 0px;
    }
    .left_colum_father{
        margin-top: 150px;
    }
  
}


@media(max-width:395px){
 
    .left_colum_father{
        margin-top: 50px;
    }
    .scrollDiv{

        margin-top:30px;
       
    }
}
@media (min-width:760px) and (max-width:1040px){
    .mobileBg{
       background-image: url('../../public/assets/imgs/Gradient.png');  
       padding-top: 50px;
       background-size: cover;
      
    }


}
@media(max-width:759px){
    .mobileBg{
       background-image: url('../../public/assets/imgs/Gradient.png');  
       background-size: cover;
      
    }


}