.heroQuote{
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
}
.heroTwoColumns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:70px;
    max-width: 1440px;
}
@media (min-width: 1441px) {
    .heroTwoColumns {
        margin: 0px auto;
    }
  }

.partners {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 40px;
    margin-top: 47px;
}

.ariel{
    font-size: 30px;
    font-weight: 400;
    line-height: 37.5px;
    margin-top:30px;
}
.heroSubtitle{
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
}
.heroSubtitleStrong{
    font-weight: 500;
}
.heroRightColumn{
    display: flex;
    flex-direction: column;
    gap:35px ;
    text-align: left;
}
.left_colum_father{
    margin-top : 200px;
    
}
.heroText{
    max-width: 730px;
    width: auto;
}

.imageFather img {
    max-width: 600px;
    height: auto;
    max-height: 744px;
    margin-right: 19px;
}


.scrollContainer {
    margin-top: 110px;
    writing-mode: vertical-rl; 
    display: flex;

}

.scrollContainer p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
}

.line {
    margin: auto;
    width: 2px; 
    height: 101.178px;
    background: linear-gradient(900deg, #FFF 0%, #000 100%);
    margin-top: 5px;
}
.cto {
color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: bold;
line-height: 11.899px;
}

