.heroQuote{
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
}
.heroTwoColumns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:78px;
}
.partners {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 40px;
    margin-top: 47px;
}

.ariel{
    font-size: 30px;
    font-weight: 400;
    line-height: 37.5px;
    margin-top:30px;
}
.heroSubtitle{
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
}
.heroSubtitleStrong{
    font-weight: 500;
}
.heroRightColumn{
    display: flex;
    flex-direction: column;
    gap:35px ;
    text-align: left;
}
.left_colum_father{
    margin-top : 226px;
    
}

.imageFather img {
    max-width: 685px;
    height: auto;
    max-height: 744px;
    margin-right: 19px;
}

