.background{
    background-color: #000000;
    margin-top: 0px;
    padding-top:38px;
}
.xpMobile{
    display: none;
}
@media(max-width:769){
    .mobileBackground{
        background-image: url('../public/assets/imgs/Gradient.png');
    }
    .background{
        padding-top:0px;
    }
    .xpMobile{
        display: block;
    }
    .xpDesktop{
        display: none;
    }
}
