.header-div{
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 65px;
}
.name{
    font-size:30px;
    line-height: 37.5px;
}
.consultation {
    color: #0363FF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-align: right;
    text-decoration: underline;
    text-underline-offset: 4.5px; }
