.header-div{
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    margin-left: 65px;
    margin-right: 65px;
}
.name{
    font-size:30px;
    line-height: 37.5px;
}
.consultation{
    color:#0363FF;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: right;
    
}