.cardSectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.cardsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    max-width: 1440px;
}
.bar1{
    width: 314px;
    height: 4px;
    background: linear-gradient(90deg, #000000 0%, #ffffff 100%);
}
.bar2{
    width: 314px;
    height: 4px;
    background: linear-gradient(270deg, #000000 0%, #ffffff 100%);
}
.brands{
    font-size: 48px;
    line-height: 65px;
    color: #ffffff;
}
.cardsContainer{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 100px;
    width: 80%;
    margin: 0px auto;
    max-width: 1440px;
    margin-top: 100px;
    margin-bottom: 80px;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
    border: 1px solid #8C8C8C;
}
.cardTopRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardBrand{
    font-size: 28px;
    line-height: 34.13px;
    color: #ffffff;
}
.brandSubtitle{
    font-size: 18px;
    line-height: 21px;
    color: #0363FF;
}
.cardText{
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 300;
    width: 75%;
}
.cardYear{
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    width: 20%;
}
.imageDiv{
    height: 50vh;
    width: 100%;
}
.cardBottomRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:768px){
    .cardsContainer{
        flex-direction: column;
    }
    .bar1, .bar2{
        display: none;
    }
    .brands{
        font-size: 30px;
        line-height: 45px;
        font-weight: 500;
    }
    .imageDiv{
        display:none;
    }
    .cardBottomRow{
        flex-direction: column;
        gap:30px;
    }
    .cardText{
        width: 100%;
        font-size: 18px;
        line-height: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .cardYear{
        width: 100%;
    }
}


