.cardSectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.cardsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    max-width: 1440px;
}
.bar1{
    width: 314px;
    height: 4px;
    background: linear-gradient(90deg, #000000 0%, #ffffff 100%);
}
.bar2{
    width: 314px;
    height: 4px;
    background: linear-gradient(270deg, #000000 0%, #ffffff 100%);
}
.brands{
    font-size: 48px;
    line-height: 65px;
    color: #ffffff;
    text-align: center;
}
.cardsContainer{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    margin: 0px auto;
    max-width: 1440px;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 80px;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 1px solid #8C8C8C;
    width: auto;
    border-top-right-radius: 50px;

}
.cardTopRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardBrand{
    font-size: 28px;
    line-height: 34.13px;
    color: #ffffff;
}
.brandSubtitle ,  .brandSubtitleSuper{
    font-size: 18px;
    line-height: 21px;
    color: #0363FF;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}
.cardText{
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 300;
    max-width: 500px;
    width: auto;
}
.cardYear{
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    text-align: end;
    display: flex;
    justify-content: flex-end; /* Pega los elementos al borde inferior */

}

 /* .imageDiv{
    height: 50vh;
    width: 100%;
}*/
.cardBottomRow{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


@media (min-width: 769px) and (max-width: 1024px) {
    .cardsContainer {
        display: block;
    }
    .card:nth-child(1) {
        margin-bottom: 100px;
    }
    
    .brands{
        text-align: center;
    }
}

@media (max-width:768px){
    .cardsContainer{
        flex-direction: column;
        padding: 20px;
        width: 100%;
        margin-top: 50px;
    }
    .bar1, .bar2{
        display: none;
    }
    .brands{
        font-size: 30px;
        line-height: 45px;
        font-weight: 500;
        text-align: center;
        width: 90%;
    }
    .imageDiv{
        display:none;
    }
    .cardBottomRow{
        flex-direction: column;
        gap:30px;
    }
    .cardText{
        width: 100%;
        font-size: 18px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cardBrand{
        font-size:28px;
        font-weight: 500;
        line-height: 34px;
    }
    .brandSubtitle  .brandSubtitleSuper{
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
    }
   
    .supertek{
        width: 137px;
        height: 28px;
        margin-top: 5px;
    
    }
    .card{
        padding:20px;
    }
    .cardSectionTitle{
        margin-top: 100px;
    }
    .brandSubtitle .brandSubtitleSuper{
        color: white;
        font-weight: 500;
        margin-top: 5px;
    }
    .brandSubtitleSuper{
        margin-top: 15px;
    }
}


